* {
    margin: 0px;
    padding: 0px;


}

header {
    background-color: rgb(229, 84, 115, 0.10);
    display: block;
    height: 645px;
    font-family: 'Lato', sans-serif;

}

.navclass {
    display: flex;
    justify-content: space-around;
    align-items: center;

    margin: 0px 110px;

}

.photo {
    width: 430px;
    height: 545px;
    margin-top: 5px;

}

.image {
    margin: 95px 30px;
}

/* text styles for header */

.text {

    width: 50%;
}

.strong-one{
    color: #272727;
    
    font-size: 70px;
    height: 260px;


    margin-top: -35px;
}

.para {
    color: rgba(17, 17, 17, 0.6);

    font-size: 18px;
    line-height: 30px;
    font-weight: 5px;

    padding-top: 5px;
}

.button {
    border-radius: 7px;
    border: 0px;
    padding: 15px 36px;

    background: #E55473;
    color: #FFF;
    margin-top: 30px;
    font-size: 15px;

    font-weight: 700;

}

/* first section css */

.first-featured {
    font-family: 'Lato', sans-serif;

}

.featured-name {
    color: #272727;
    font-family: 'Lato', sans-serif;
    text-align: center;
    margin-top: 100px;
    font-size: 35px;
}

.featured-text {
    font-family: 'Lato', sans-serif;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;

    font-size: 17px;

    margin: 24px 380px;

    line-height: 30px;
}

.image1 {
    text-align: center;
    display: flex;
    gap: 20px;
    justify-content: center;
    margin: 45px 110px;

}

.photo1 {
    width: 200px;
    height: 280px;
    margin-top: 170px;
}

.pink {
    border-radius: 300px 300px 0px 0px;
    background-color: rgba(167, 33, 98, 0.15);
    height: 450px;
    width: 464px;
    x
}

.blue {
    background-color: rgba(5, 151, 160, 0.15);
    border-radius: 300px 300px 0px 0px;

    height: 450px;
    width: 464px;

}

.ash {
    border-radius: 300px 300px 0px 0px;
    background-color: rgba(71, 125, 17, 0.15);

    height: 450px;
    width: 464px;


}

.pol {
    color: #272727;
    text-align: center;
   
    font-size: 15px;
  
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
    margin-top: 10px;
}

/* second feaured styles */
.second-featured {
    font-family: 'Lato', sans-serif;
    margin: 180px 110px;
    height: 280px;
    border-radius: 8px;
    background-color: rgba(39, 39, 39, 0.05);
    display: flex;
    justify-content: space-around;
    align-items: center;


}

.lol {
    display: flex;
    flex-direction: column;

}

.photo2 {
    height: 70px;
    width: 70px;
    margin-left: 60px;

}

.pola {
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    line-height: 35px;
}

.new {
    margin-right: 45px;
}

/* third featured style */

.third-feature{
    border-radius: 8px;
    background-color: rgba(229, 84, 115, 0.05);
    display: flex;
    
    justify-content: space-around;
    font-family: 'Lato', sans-serif;
   align-items: center;
  
   
    height: 550px;
    
}
.third-sec-text{
    
    display: flex;
    flex-direction:column;
    justify-content: space-around;
    align-items: center;
    padding:250px 150px 250px 200px  ;
    margin-top: -300px;
   
}
.third-sec-bold{
    color: #272727;
    
    margin-top: 300px;
    font-size: 35px;
}

.red{
    color: #E55473;
}
.featured-text1{
    color: rgba(39, 39, 39, 0.60);
text-align: center;

font-size: 18px;

font-weight: 400;
line-height: 30px;
margin-top: 24px;

}
.button1{
    border-radius: 7px;
    border: 0px;
    padding: 15px 36px;

    background: #E55473;
    color: #FFF;
    margin-top: 30px;
    font-size: 15px;
}

.photo3{
    width: 300px;
height: 400px;
padding-right: 170px;

}

/* instagram section */
.insta{
   
    margin: 40px 110px;
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
}
.picture{
    height: 310px;
    width: 290px;
}