* {
    margin: 0px;
    padding: 0px;
    

}

header {
    background-color: #E554731A;
    height: 660px;
}

.navclass {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0px 110px;

}

.photo {
    width: 430px;
    height: 560px;
    margin-top: 5px;
}
.image{
    margin: 95px 30px;
}

/* text styles for header */

.text{
    
    width: 50%;
}

.bold-one {
    color: #272727;
    font-family: 'Lato', sans-serif;
    font-size: 70px;
    height: 260px;

    
    padding-bottom: 5px;
}

.para {
    color: rgba(39, 39, 39, 0.60);
  
    font-size: 18px;

    font-weight: 400;
    
    padding-top: 5px;
}

.button {
    border-radius: 3px;
    border: 0px;
   padding: 15px 36px;
    
    background: #E55473;
    color: #FFF;
    margin-top: 30px;
    font-size: 15px;
   
    font-weight: 700;
   
}